.action-card{
  display: flex;
  flex-direction: row;
  color: antiquewhite;
  font-family:Georgia, 'Times New Roman', Times, serif; 
  font-size: 15px;
margin-left: 20px;
}

.mat-icon{
 float: right;
margin-top: 15px;
margin-left: 15px;

}

