.mat-card-content{
 display: flex;
 flex-direction: column;
 width: 80vh;
 height: auto;
 justify-content: space-between;
 margin-top: 10px;
 text-align: center;
  justify-content: center;
  align-items: center;
 
}
.mat-card-header{
  text-align: center;
  justify-content: center;
  align-items: center;
}
#username{
  margin-left: 20px;
  width: 200px;
  
}
#email{
  margin-left: 40px;
  width: 200px;
}
#password{
  margin-left: 20px;
  width: 200px;
}
#birthday{
  margin-left:30px;
  width: 200px;
}
.label{
 margin-right: 10px;
}
.username{
margin-bottom: 10px;
}
.password{
  margin-bottom: 10px;
}
.email{
  margin-bottom: 10px;
  margin-right: -10px;
}
.birthday{
  margin-bottom: 10px;

}