<mat-card class="update" style="display:flex; flex-direction: column; flex-wrap: wrap;">
  <mat-card-header>
    <mat-card-title class="profile-title">Update Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form >
      <!-- <mat-form-field> -->
      <div class="username">
          <label for="Username">Username</label>
          <input matInput id="username" [(ngModel)]='userData.Username' type='text' placeholder='Enter your username'
            name='Username' autocomplete="username" required />
        </div>
      
       
  
        <div class="password">
          <label for="Password">Password</label>
          <input matInput  id="password" [(ngModel)]='userData.Password' type='password' placeholder='Enter your password'
            name='Password' required />
        </div>
       
        <div class="email">
          <label for="Email">Email</label>
           <input id="email"
          matInput
          [(ngModel)]='userData.Email'
          type='email'
          placeholder='Email'
          name='Email'
          required />
        </div>
        <div class="birthday">
          <label for="Birthday">Birthday</label>
          <input matInput  id="birthday" [(ngModel)]='userData.Birthday' type='date' name='Birthday' />
        </div>
      <!-- </mat-form-field> -->
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)='editUser()' color="primary">Update</button>
  </mat-card-actions>
</mat-card>
