

h1 {
border-bottom: 1px solid lightgrey;
margin-bottom: 40px;
}

.page-container {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
margin: 25px;
}
button {
  margin-right: 30px;
  border: 0.5px solid lightgrey;
}

.data {
  font-weight: 700;
}

.favorite-movies{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.header{
  text-align: center;
 display: flex;
 flex-direction: row;
}



.profile-card-container{
  font-family:Georgia, 'Times New Roman', Times, serif;   
}