<app-navigation-bar></app-navigation-bar>

<div class='profile-card-container'>
  
  <h1>My Profile</h1>
  <div class="profile-info"> 

    <p class="data">USERNAME</p>
    <p>{{user.Username}}</p>
   <p class="data">PASSWORD</p>
     <p class="data"  type="password">{{user.Password}}</p>  
    <p class="data">EMAIL</p>
    <p>{{user.Email}}</p>
    <p class="data">BIRTHDAY</p>
    <p>{{user.Birthday | date: "dd/MM/yyyy":"UTC" || "N/A"}}</p> 
  </div> 

  <div class="account-container">
    <button id="update-prof-dialog-button" mat-button (click)='profileUpdateDialog()'
    style=" background-color: rgb(90, 90, 107)">
      Update Profile
    </button>


    <button id="delete-account-button" mat-button (click)='deleteUser()'
      style=" background-color: rgb(139, 8, 28);">
      Delete Account
    </button>
  </div>

  <div class="favorite-movies">
    <h2>My Favorite Movies</h2>

    <div style="display: flex; text-align: center;">
      <mat-card *ngFor="let favorite of favorites;" style="flex: 0 1 auto; margin: 10px;">
        <mat-card-actions>
          <mat-icon
            style="color: rgb(206, 203, 203);font-weight: 300; cursor: pointer; right: 0; top: 0; position: absolute; padding: 0;"
            aria-label='Remove Movie from Favorite' (click)='removeFavorites(favorite._id, favorite.title)'>
            delete_outline
          </mat-icon>
        </mat-card-actions>
        <mat-card-header class="header">
          <mat-card-title>{{favorite.Title}}</mat-card-title>
          <mat-card-subtitle>{{favorite.Director.Name}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{favorite.ImagePath}} alt={{favorite.Title}} style="width:300px;" />
      </mat-card>
    </div>
  </div>
</div>